:root {
  --img-width: 100%;
}



.sono-200 {
  font-family: "Sono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "MONO" 1;
}

.sono-300 {
  font-family: "Sono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "MONO" 1;
}

.sono-400 {
  font-family: "Sono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MONO" 1;
}

.sono-500 {
  font-family: "Sono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "MONO" 1;
}

.sono-600 {
  font-family: "Sono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "MONO" 1;
}

.sono-700 {
  font-family: "Sono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "MONO" 1;
}

.sono-800 {
  font-family: "Sono", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "MONO" 1;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  display: flex;
  justify-content: center;
}

.loading-bar {
  display: none;
  position: sticky;
  background: linear-gradient(to right, #ffb60a 75%, transparent 25%);
  top: 0px;
  height: 5px;
  width: 100%;
  z-index: 3;
}

.background {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;

  img {
    height: 100%;
    width: var(--img-width);
    object-fit: cover;
    object-position: center;
    transition: width 0.3s, height 0.3s;
  }
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000000ba;
}

.repo {
  display: flex;
}

.item {

  height: 14vh;
  width: 5vw;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  align-items: center;
  background: #ffffff0d;
  border-radius: 10px;
  padding: 15px;

  .item-logo {
    display: flex;
    height: 75%;
    width: 100%;
    justify-content: center;
    align-items: center;

    img {
      height: 70px;
      width: 70px;
    }
  }

  .item-title {
    display: flex;
    justify-content: center;
    height: 25%;
    overflow: hidden;
    font-size: 14px;
    text-overflow: clip;
    width: 100%;
  }
}

.item:hover {
  cursor: pointer;
  background: #ffffff12;
}

.controller {
  background-color: #5c29ffb0;
  position: absolute;
  height: 8%;
  min-height: 50px;
  width: 28%;
  bottom: 5%;
  border-radius: 18px;
}

.container {
  margin: 1% 5%;
  height: 80%;
  width: 90%;
  position: absolute;
  display: flex;
  flex-direction: column;

  .nav {
    color: #ffffff;
    margin: 1.5%;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;

    .breadcrumb {
      background: #00000057;
      border-radius: 10px;
      padding: 15px;
    }

    .search {
      width: 14%;
      background: #e7dedebd;
      border-radius: 10px;
      height: calc(90%);
    }
  }

  .divider {
    width: 100%;
    background: #5b5b5b;
    height: 0.2%;
  }
}

.timer {
  background-color: #00000057;
  position: absolute;
  height: 8%;
  min-height: 50px;
  color: white;
  width: 13%;
  bottom: 5%;
  left: 2%;
  border-radius: 10px;
}

@media (orientation: portrait) {
  :root {
    --img-width: auto;
  }
}